version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    groups:
      electron:
        patterns: ["electron", "electron-*"]
      dev-dependencies:
        dependency-type: development
        exclude-patterns: ["electron", "electron-*"]
